/*
Template:  BOOZE. - Template HTML5/CSS3
Author: alexiancu.com
Version: 1.0.0
Design and Developed by: Alex Iancu - Web & App Developer

NOTE:   

*/

/*************************
      COLORS
      white - #eef7fc
      lightblue - #c8e2ef
      red - #692436
      darkred - #261923
      black - #1f212e
      lightred - #ef1750
*************************/

/*************************
      Navbar
*************************/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*************************
      CAROUSEL
*************************/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
.col{
      padding: 0;
      margin: 0;
}
.carousel-inner{
      width: 100%;
}
.carousel{
      width: 100%;
}
.carousel-item{
    height: 100%;
    width: 100%;
}

.bg-carousel-1{
      /* The image used */
    background-image: url("../assets/carousel/carousel1.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bg-carousel-1:before {
      content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(#261923,#692436);
      opacity: .8; 
}
.bg-carousel-2{
      /* The image used */
    background-image: url("../assets/carousel/carousel2.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bg-carousel-2:before {
      content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(#261923,#692436);
      opacity: .8; 
}
.bg-carousel-3{
      /* The image used */
    background-image: url("../assets/carousel/carousel3.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bg-carousel-3:before {
      content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(#261923,#692436);
      opacity: .8; 
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel-item {
    min-height: 800px; 
    height: 100%;
    width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
    
}
.carousel-caption{
      top: 50%;
      transform: translateY(-50%);
}
.carousel-caption h3 {
    padding: .7em;
    font-size: 3rem;
    font-weight: 800;
    color: white;
    font-family: 'Poppins', sans-serif;
}
@media(max-width: 768px){
      .carousel-caption h3{
            font-size: 1.5rem;
      }
}
.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption button {
    margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
    animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
}
.carousel-caption button {
    animation-delay: 3s;
}

.carousel-holder{
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
}
.btn-ombre{
    border-radius: 25px;
    background: #ef1750;
    color: white;
    transition: all 0.4s;
    border: none;
}
.btn-ombre:hover{
    background: #261923;
    color: white;
}
/*************************
      SECTION 1 - FEATURES
*************************/
.container-fluid{
    margin: 0;
    padding: 0;
}
.bg-lightred{
    background: #ef1750;
}
.active-item{
    transition: all 0.3s
}
.active-item{
  
    -webkit-box-shadow: 0px 0px 17px -2px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 17px -2px rgba(255,255,255,1);
box-shadow: 0px 0px 17px -2px rgba(255,255,255,1);
}
.feature-item{
    transition: all 0.3s;
    padding: 25px
}
.feature-item:hover {
  -webkit-box-shadow: 0px 0px 17px -2px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 17px -2px rgba(255,255,255,1);
box-shadow: 0px 0px 17px -2px rgba(255,255,255,1);
}
.feature-item:hover .active-item{
  box-shadow: none;
}
.active-item:hover{
  
    box-shadow: none;
}
.feature-text{
    font-size: 2rem;
    color: white;
    text-align: center;
    max-width: 350px;
    width: 350px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
}
.center-X{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.feature-item .fas{
    color: white;
    font-size: 6rem !important;
}
.feature-item .text{
    color: white;
    font: 400 16px/24px "Lato", sans-serif;
    /* font-style: italic; */
    font-size: 1rem;
    width: 350px;
    text-align: center;
}
.feature-item .title{
     color: white;
     font-weight: 900;
     font-size: 2rem;
     text-align: center;
}

.ui-line-vert{
    width: 6px;
    height: 50px;
    border-radius: 3px;
}
.ui-line-vert-white{
    width: 6px;
    height: 50px;
    border-radius: 3px;
    background: white;
}
.bg-c-white{
    background: white;
    color: white;
}
/*************************
      SECTION 2 - COUNTING
*************************/
.count-holder{
    padding: 25px;
    text-align: center;
    color:#ef1750;
    font-size: rem !important;
    font-weight: 900;
}
.count-holder .fas{
     color:#ef1750;
    font-size: 4rem !important;
    display: block;
}
.count-holder .timer{
     color:#1f212e;
    font-size: 2rem !important;
    display: block;
    font-weight: 900;
}
.bg-black{
    background: #1f212e;
}
.intro-section-text{
    text-align: center;
    color: rgba(238, 21, 79, 0.651);
    font-size: 1.3rem;
    letter-spacing: 1.1px;
}

/*************************
      SECTION 3 - ABOUT US
*************************/
.video-holder{
    width: 70%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}
.center-XY{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.z-1{
    position: fixed;
    z-index: 100;
}
.pos-fix{
    position: fixed !important;
}
.video-holder img{
    width: 100%;
}
.btn-ombre .fa-play{
    color: white;
    font-size: 2rem;
}
.ui-element-abs{
    position: absolute;
    left: 0;
    bottom: 0;
}
.about-us-section{
    padding-left: 60px;
    padding-top: 25px;
}
.fa-ruler-combined{
    font-size: 9rem;
    opacity: 0.4;
}
.about-us-text{
    font: 400 16px/24px "Lato", sans-serif;
    max-width: 768px;
    text-align: justify;
}
@media(max-width: 768px){
    .fa-ruler-combined{
        display: none;
    }
    .about-us-section{
        padding: 35px;
    }
}
/*************************
      SECTION 4 - SERVICES
*************************/
.bg-darkis{
    background: #261923
}
.service-holder{
    padding: 20px;
    transition: all 0.3s;
}
.service-holder:hover{
    -webkit-box-shadow: 0px 0px 17px -2px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 17px -2px rgba(255,255,255,1);
box-shadow: 0px 0px 17px -2px rgba(255,255,255,1);
}
.service-holder .service-title{
    text-align: center;
    width: 100%;
    font: 700 22px/30px 'Poppins', sans-serif;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}
.service-holder .service-text{
    position: relative;
    font: 400 16px/24px "Lato", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    max-width: 350px;
    left: 50%;
    transform: translateX(-50%);
}
/*************************
      SECTION 5 - OUR PROJECTS
*************************/
.holder-project{
    padding: 15px;
    overflow: hidden;
    height: 200px;
    width: 100%;
    transform-style: preserve-3d;
    position: relative;
}
.holder-project .project-image{
    transition: all 0.5s;
}
.holder-project .project-image img{
    width: 100%
}
.holder-project .project-info{
    font: 700 22px/30px 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transform: translateZ(-50%);
    color: white;
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;
}
.holder-project:hover .project-info{
    opacity: 1;
}
.holder-project:hover .project-image{
    opacity: 0.75;
}
.card-opacity{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50%;
    height: 100%;
    background-color: rgba(238, 21, 79, 0.651);
    z-index: 1;
    opacity: 0;
    transition: all 0.2s;
}
.holder-project:hover .card-opacity{
    opacity: 1;
}
/*************************
      SECTION 6 - ARTICLES
*************************/

.gallery {
  /* background: #EEE; */
}

.gallery-cell {
  width: 320px;
  height: 320px;
  margin-right: 10px;
  border-radius: 10px;

}

.gallery-cell.is-selected {
  background: #EEE;
}

/* cell number */
.gallery-cell:before {
  
}
.article-holder .article-cell{
    border: 1px solid #ef1750;
}
.article-holder .article-cell .image{
    border-radius: 10px;
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.article-holder .article-cell .image img{
    width: 150%;
    transition: all 0.3s;
}
.article-holder .article-cell .title{
    padding-left: 15px;
    padding-top: 15px;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
}
.article-holder .article-cell .line{
    width: 100px;
    height: 2px;
    background: #ef1750;
}
.article-holder .article-cell .description{
    font-size: .8rem;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    text-align: justify;
}
.article-holder .article-cell .btn{
    margin-left: 15px;
    margin-top: 10px;
    font-size: .8rem !important;
}
.article-holder .article-cell:hover .image img{
    opacity: .8;
}
/*************************
      SECTION 7 - OUR TEAM
*************************/
.feature-description{
    max-width: 768px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: white;
    opacity: 0.8;
}
.team-holder{
    position: relative;
}
.team-holder .image{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.team-holder .image img{
    width: 100%;
}
.team-holder .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 2;
    background: rgba(106, 36, 55, 0.651);
    opacity: 0;
    transition: all 0.3s;
}
.team-holder:hover .overlay{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.team-holder .overlay .name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.3rem;
    color: white;
    font-weight: 900;
}
.team-holder .overlay .icons{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white !important;
}
.team-holder .overlay .icons a{
    color: white !important;

}
.team-holder .overlay .icons .fab{
    padding: 15px;
    cursor: pointer;
}
.team-holder .overlay .icons .fab:hover{
    color: #ef1750;
}
/*************************
      SECTION 8 - PRICING
*************************/
.price-holder{
    height: 450px;
    -webkit-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.45);
    box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.45);
    border-radius: 10px;
    text-align: center;
}
.price-holder .title{
    font-size: 1.8rem;
    font-weight: 900;
}
.price-holder p{
    text-align: center;
}
.price-holder .price{
    font-size: 2rem;
    font-weight: 900;
}
.price-holder .currency{
    font-size: 1rem;
    font-weight: 600;
    display: inline;
}
.price-holder .number{
    display: inline;
}
.price-holder .details{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
/*************************
      SECTION 9 - CONTACT & FOOTER
*************************/
.input-contact{
    width: 100%;
    margin-bottom: 15px;
    background: transparent;
}
.textarea-contact{
    min-height: 250px;
    background: transparent;
    padding: 5px !important;
}
.input-contact:focus{
    background: white;
}
.textarea-contact:focus{
    background: white;
}
.input-contact:active{
    background: white;
}
.textarea-contact:active{
    background: white;
}
.input-contact:hover{
    background: white;
}
.textarea-contact:hover{
    background: white;
}
.color-w{
    color: white;
}

/*************************
      SECTION 2.1 - BLOG SINGLE
*************************/
.blog-main-photo{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.blog-main-photo img{
    width: 100%;
}
.blog-title{
    margin-top: 25px;
    margin-bottom: 25px;
}
.font-bold{
    font-weight: 900;
    font-size: 1.3rem;
}
.blog-text{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 25px;
}
.blog-social li{
    display: inline;
    padding-left: 10px;
}
.blog-social a:hover{
    color: #ef1750;
}
.blog-date{
    margin-top: 15px;
    font-size: 15px;
    opacity: .6;
}